# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.env
.venv/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
data/training/*
data/models/*
!data/training/.gitkeep
!data/models/.gitkeep

# Logs
*.log
logs/

# CUDA
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin 